
.icon-mail:before { content: '\e800'; } /* '' */
.icon-login-1:before { content: '\e801'; } /* '' */
.icon-logout-1:before { content: '\e802'; } /* '' */
.icon-edit-1:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */
.icon-list-add:before { content: '\e806'; } /* '' */
.icon-undo:before { content: '\e807'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */