body
{
	font-family: 'Lato', sans-serif !important;
}

.form-control, .btn
{
	display: block;
	height: 44px;
	width: 100%;
}

.tile-h
{
height: 148px;
}

.my
{
  margin: 120px;
}

a.link
{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

a.link:hover
{
	color: #C0C0C0;
}

.pointer-d
{
  cursor: default;
}

h5
{
	margin-top: 5px !important;
	font-size: 15px !important;
}