body
{
	background-color: #263238;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	text-align: center;
}

.rectangle
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.header
{
	height: 50px;
	line-height: 50px;
	background-color: #1E90FF;
	font-size:36px;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid #C0C0C0;
    border-radius: 5px;
	margin-bottom: 10px;
	cursor: default;
}


.tile_left
{
	float: left;
	text-align: center;
	width: 242px;
	height: 166px;
	background-color: #1E90FF;
	border:  2px solid #C0C0C0;
	border-radius: 5px;
}

.tile_right
{
	float: left;
	margin-left:8px;
	text-align: center;
	width: 242px;
	height: 166px;
	background-color: #1E90FF;
	border:  2px solid #C0C0C0;
	border-radius: 5px;
}


a.link
{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

a.link:hover
{
	color: #C0C0C0;
}

#email
{
	    margin-top: 10px;
		background-color: #1E90FF;
    	height: 20px;
		font-size: 10px;
		line-height: 15px;
		border: 2px solid #C0C0C0;
	    border-radius: 5px;
		padding: 2px;
}


#rights
{
	    margin-top: 10px;
		background-color: #1E90FF;
    	height: 30px;
		font-size: 10px;
		line-height: 15px;
		border: 2px solid #C0C0C0;
	    border-radius: 5px;
		padding: 2px;
}

.left
{
	float: left;
	width: 246px;
}

.right
{
	float: left;
	margin-left: 8px;
	width: 246px;
}

input[type=text],
input[type=password]
{
	width: 242px;
	height: 46px;
	background-color: #ECF0F1;
	border: 2px solid #C0C0C0;
	border-radius: 5px;
	font-size: 20px;
	color: #013EB0;
	margin-bottom: 10px;
	padding: 0px;
	text-align: center;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	border: 2px solid #37474F;
	background-color: #e9f3e9;
	color: #37474F;
}

input[type=submit]
{
	width: 246px;
	height: 50px;
	background-color: #1E90FF;
	border-radius: 5px;
	border: 2px solid #C0C0C0;
	font-size: 20px;
	color: white;
	padding: 0px;
	cursor: pointer;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 5px rgba(204,204,204,0.9);
}

.home
{
	width: 242px;
	height: 166px;
	background-color: #1E90FF;
	border:  2px solid #C0C0C0;
	border-radius: 5px;
}

